<div class="panel panel-default">
    
    <div class="panel-heading">
        <h3 class="panel-title">Date : {{ convertToDate({ dt: weatherDay.dt }) | date: dateFormat }}  Time : {{ convertToTime({ time: weatherDay.dt_txt }) }}</h3>
    </div>
    <div class="panel-body">
        Daytime temperature: {{ convertToStandard({ daytimeTemp: weatherDay.main.temp }) }} 
        Humidity : {{ weatherDay.main.humidity }} %
    </div>
    <div class="panel-body">
        forecast : {{ getCurrentWeather({desc: weatherDay.weather}) }}
    </div>
    
</div>