<div>
<p>
    <a href="#!/">Back to Search</a>
</p>

Forecast for {{ city }} City with Country Code {{ countryCode() }}
<hr />
<!-- can be implemented for selected days
Days: <a ng-href="#!/forecast/2" ng-class="{ 'bg-primary': days === '2' }">2</a> | <a ng-href="#!/forecast/5" ng-class="{ 'bg-primary': days === '5' }">5</a> | <a ng-href="#!/forecast/7" ng-class="{ 'bg-primary': days === '7' }">7</a>
-->

<div ng-if="showFlag">
    
<div ng-repeat="w in weatherResult.list">
 <div class="row">
        <div class="col-md-12">
            <weather-report weather-day="w" convert-to-standard="convertToFahrenheit(daytimeTemp)" convert-to-date="convertToDate(dt)" 
                            convert-to-time="convertToTime(time)" date-format="MMMM d, y" get-current-weather="getCurrentWeather(desc)"></weather-report>
        </div>
 </div>

</div>
</div>
    
    <div ng-if="!showFlag">
        please search again {{weatherResult.message}}
    </div>
    
<hr />
    
</div>

