<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Forecast by City</h4>
        <form  name="frmSearch" ng-submit="submit()" novalidate>
<!-- ng-pattern="/^[a-zA-Z\s]*$/" <span ng-messages="frmSearch.city.$error.pattern">please enter a valid city name</span> -->
        <div class="form-group">
            <input type="text" name="city" ng-model="city" class="form-control"  required ng-pattern= "/^[a-zA-Z\s]*$/"/>
            <a style="color:maroon" role="alert">
             
            <span ng-show="frmSearch.city.$error.required" >city name is required</span>
            <span ng-show="frmSearch.city.$error.pattern">please enter a valid city name</span>
            </a>
        </div>
        <button type="submit" ng-disabled="frmSearch.city.$error.required || frmSearch.city.$error.pattern" class="btn btn-primary" value="Get Forecast">Get Forecast</button>
         </form>
    </div>
</div>